/* applies the same font family and color throughout the whole webpage unless specifically changed. also sets the top margin of the body to zero, so that everything starts from the very top */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 0;
    background-color: rgb(128, 135, 150);
}

/* properties for the div in index.html which uses this class. Width is preset for prefered size */
.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(30, 32, 36);
}

header {
    width: 1000px;
    margin: 0 auto;
}

/* this makes sure that the header image fully fits the width of header and wrapper */
.r6-header {
    width: 100% ;
}

/* postition of the main heading is fixed to the wanted position relative to it's original position */
.main-heading {
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.5);;
    text-align: center;
    position: relative;
    bottom: 220px;
}

/* postition of the nav bar is fixed to the wanted position relative to it's original position */
nav {
    position: relative;
    bottom: 110px;
}

/* removes margins of the nav list and removes bullets and text is alligned to center */
nav ul {
    margin: 0 0;
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}


nav li {
    display: inline-block;
    width: 328px;
    text-transform: uppercase;
}

/* creates the little white bars in nav bar separating each item */
.middle-nav {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* changes properties of nav a when hovered the cursor above it */
nav a:hover {
    background-color: white;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

/* positions every article and section in index.html relative to their original position, also modifies line height of the content inside them */
article, section {
    position: relative;
    bottom: 100px;
    width: 960px;
    margin: 0 auto;
    line-height: 150%;
}

.main-article h2 {
    margin: 20px 0 15px 0;
}

/* makes the article text wrap around the image */
.r6-article {
    width: 200px;
    border: 12px solid rgb(75, 23, 23);;
    margin: 0 15px 15px 0;
    float: left;
    clear: left;
}

h3 {
    font-size: 21px;
}

ul{
    padding-left: 25px;
    list-style-type: square;
}

form {
    border: 2px solid white;
    padding: 20px 20px;
}

/* makes the text box jump below the label */
.txtlbl {
    display: block;
}

/* sets the size of the text box */
.txtbox {
    width: 90%;
}

section h3 {
    margin-bottom: 5px;
}

.quesn {
    width: 90%;
    height: 120px
}

form div {
    margin-bottom: 12px;
}

.consent {
    display: block;
    margin-bottom: 10px;
}

/* changes the distance between the lable to radio input using margins */
.radiolist input{
    margin-left: 1px;
    margin-right: 12px;
}

/* alligns the text inside footer and postiions it relative to its previous position */
footer {
    position: relative;
    bottom: 60px;
    text-align: right;
    width: 960px;
    margin: 0 auto;
}

/* changes the default properties of the button */
button {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 8px 16px;
}

/* changes the default properties of the button when hovered above it*/
button:hover {
    background-color: white;
    color: black;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 8px 16px;
}