body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 0;
    background-color: rgb(128, 135, 150);
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(30, 32, 36);
}

header {
    width: 1000px;
    margin: 0 auto;
}

.r6-header {
    width: 100% ;
}

.main-heading {
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.5);;
    text-align: center;
    position: relative;
    bottom: 220px;
}

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
} */

nav {
    position: relative;
    bottom: 110px;
}


nav ul {
    margin: 0 0;
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}

nav li {
    display: inline-block;
    width: 329px;
    text-transform: uppercase;
}

.middle-nav {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

article {
    position: relative;
    bottom: 100px;
    width: 960px;
    margin: 0 auto;
    line-height: 150%;
}

.main-article h2 {
    margin: 20px 0 15px 0;
}

.r6-article {
    width: 200px;
    border: 12px solid rgb(44, 73, 126);;
    margin: 0 15px 15px 0;
    float: left;
}

h3 {
    font-size: 21px;
}

ul{
    padding-left: 25px;
    list-style-type: square;
}


