
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 0;
}

header {
    background-color: #222;
}

.headercontentbox {
    padding: 10px 10px;
}

.headercontentbox img{
    margin: 1rem 0 0 0;
    display: inline-block;
}

.logoback {
    background-color: #c78c06;
}

.headercontentbox nav ul {
    padding: 0;
    margin: 0;
}

.headercontentbox li {
    text-align: center;
    padding: 1rem;
    list-style-type: none;
    background-color: #222;
}

.headercontentbox li:nth-child(1) {
    background-color: #c78c06;
}


.headercontentbox a{
    text-decoration: none;
}

.headercontentbox a{
    color: #c78c06;
}

.headercontentbox li:nth-child(1) a{
    color: #222;
}

.searchbarhead {
    display: flex;
    justify-content: center;
}

.searchbarhead input {
    height: 2rem;
    flex-grow: 1;
}

.searchbarhead button {
    background-color: transparent;
    border: 2px solid #c78c06;
}

.searchbarhead button:hover {
    height: 2rem;
    background-color: #694b04;
    border: 2px solid #c78c06;
}

.secnone {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
}

.secnonebox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem 10px 1rem;
}

.secnonebox h1 {
    color: white;
    font-size:44px;
    margin: 0 0;
}

.secnonebox p {
    color: white;
    font-size:12px;
    margin: 1rem 0 0 0;
}

.secnonebox button {
    height: 4rem;
    width: 10rem;
    background-color: #c78c06;
    border: 0;
    margin-top: 7px;
}

.secnonebox button:hover {
    height: 4rem;
    width: 10rem;
    background-color: #694b04;
    border: 0;
}