body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ddb966;
    line-height: normal;
}

.secnthree, .back-img-secn, .secnfive, .secnsix {
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 12px;
}

p {
    margin: 12px 0;
}

h1 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
    margin: 1rem 10px;
}

h5 {
    margin: 0 10px;
}


header {
    background-color: #222;
}

.headercontentbox {
    padding: 10px 10px;
}

.headercontentbox img{
    margin: 1rem 0 0 0;
    display: inline-block;
}

.logoback {
    background-color: #c78c06;
}

.headercontentbox nav ul {
    padding: 0;
    margin: 0;
}

.headercontentbox li {
    text-align: center;
    padding: 1rem;
    list-style-type: none;
    background-color: #222;
}

.headercontentbox li a:hover {
    background-color: #694b04;
}

.headercontentbox li:nth-child(1) {
    background-color: #c78c06;
}


.headercontentbox a{
    text-decoration: none;
}

.headercontentbox a{
    color: #c78c06;
}

.headercontentbox li:nth-child(1) a{
    color: #222;
}

.searchbarhead {
    display: flex;
    justify-content: center;
}

.searchbarhead input {
    height: 2rem;
    flex-grow: 1;
}

.searchbarhead button {
    background-color: transparent;
    border: 2px solid #c78c06;
    width: 2rem;
}

.searchbarhead button:hover {
    background-color: #694b04;
    border: 2px solid #c78c06;
}

.secnone {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
}

.secnonebox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem 10px 1rem;
}

.secnonebox h1 {
    color: white;
    font-size:60px;
    margin: 0 0;
}

.secnonebox p {
    color: white;
    font-size:12px;
    margin: 1rem 0 0 0;
}

.secnonebox button {
    color: #222;
    height: 4.2rem;
    padding: 0 1.6rem;
    background-color: #c78c06;
    border: 0;
    margin-top: 12px;
    font-size: 18px;
}

.secnonebox button:hover {
    color: #222;
    background-color: #694b04;
    border: 0;
}

.secntwo {
    background-color: #ffe6ac;
    padding: 10px 10px;
}

.secntwobox img {
    width: 100%;
}

.secntwobox h1 {
    margin: 1rem 0;
}

.secntwobox p {
    font-size: 12px;
}

.secnthree {
    padding: 10px 10px;
}

.secnthreebox div {
    margin: 10px 0;
    background-color: #ffe6ac;
}

.secnthreebox img {
    width: 100%;
}

.secnthreebox h1 {
    margin: 1.6rem 0 0.8rem 0;
}

.secnthreebox p {
    font-size: 12px;
    margin: 0 10px;
}

.secnthreebox button {
    margin: 10px 10px;
    color: white;
    height: 4.2rem;
    padding: 0 1.6rem;
    background-color: #222;
    border: 0;
    font-size: 18px;
}

.secnthreebox button:hover {
    background-color: #694b04;
}

.back-img-secn {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.back-img-secn p {
    font-size: 12px;
    margin: 0 10px;
}

.back-img-secn h3 {
    margin-top: 0;
    padding-top: 1rem;
}

.back-img-secn button {
    margin: 10px 10px;
    color: white;
    height: 4.2rem;
    padding: 0 1.6rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #c78c06;
    font-size: 18px;
}

.back-img-secn button:hover {
    background-color: #694b04;
}

.secnfive {
    padding: 10px 10px;
}

.secnfive img {
    width: 100%;
}

.secnfive h1 {
    margin: 1.6rem 0 0.8rem 0;
}

.johndoe, .johnpic {
    margin: 0 0;
    background-color: #ffe6ac;
}

.secnfive h3 {
    margin: 10px 0 10px 0;
    padding: 10px 10px;
    padding-bottom: 0;
}

.secnfive h5 {
    border-bottom: 2px solid #c78c06;
}

.secnfive p {
    font-size: 12px;
    margin-left: 10px;
    padding-bottom: 1rem;
}

.bobrite, .bobpic {
    margin: 0 0;
    background-color: #ffe6ac;
}

.secnsix h1 {
    margin-left: 10px;
}

.secnsix form {
    margin: 0 10px;
}

.sndusmsg {
    margin-top: 0;
}

.secnsix h1 {
    margin-bottom: 1rem;
}

.secnsixbox label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.secnsixbox form div {
    margin: 10px 0;
}

.secnsixbox form .txtbox {
    display: flex;
    flex-direction: column;
}

.secnsixbox input {
    flex-grow: 1;
}

.msgbox {
    height: 6rem;
}

.secnsixbox button {
    background-color: #222;
    color: #c78c06;
    font-size: 18px;
    border: 0;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.secnsixbox button:hover {
    background-color: #694b04;
}

.secnsixbox table {
    display: grid;
    font-size: 12px;
    border-collapse: collapse;
    margin: 10px 10px;
    margin-bottom: 2rem;
    border: 1px solid #222;
}

.secnsixbox thead tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.secnsixbox tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secnsixbox th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #222;
}

.secnsixbox thead th {
    text-align: center;
    font-weight: normal;
}

thead th {
    background-color: #ffe6ac;
}

.embedmap {
    display: flex;
    margin: 0 10px;
    margin-bottom: 10px;
}

.embedmap iframe {
    flex-grow: 1;
    height: 300px;
}

footer {
    background-color: #222;
    color: #c78c06;
    font-size: 12px;
}

footer div {
    padding: 10px 10px;
}

footer div p {
    margin: 0;
    padding: 10px 0;
}

@media screen and (min-width: 760px) {
    .headercontentbox {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 10px;
    }

    .logoback {
        background-color: transparent;
    }

    .logoback img {
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .searchbarhead input {
        margin: auto 0;
    }

    .searchbarhead button {
        margin: auto 0;
        height: 2rem;
    }

    .secnonebox {
        margin: 0 70px;
    }

    .secntwobox {
        margin: 0 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .secntwobox img {
        margin: auto 0;
    }

    .secntwobox > div {
        padding: 10px;
    }

    .secnthreebox {
        margin: 0 70px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px 1fr auto;
    }

    .secnthreebox h1 {
        grid-column: 1 / span 6;
    }

    .secnthreebox div {
        margin: 0 0;
    }

    .digitrans {
        grid-column: 1 / span 3;
    }

    .marketing {
        grid-column: 4 / span 3;
    }

    .videoproduction {
        grid-column: span 2;
    }

    .webdev {
        grid-column: span 2;
    }

    .print {
        grid-column: span 2;
    }
    
    .pcbutton {
        display: flex;
        justify-content: center;
    }

    .pcbutton button {
        flex-grow: 1;
    }

    .back-img-secn-box {
        margin: 0 70px;
    }

    .secnfivebox {
        margin: 0 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 1fr 1fr;
    }
    
    .secnfivebox h1 {
        grid-column: 1 / span 2;
    }

    .bobrite {
        grid-row: 3 / span 1;
    }

    .secnsixbox {
        margin: 0 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px 1fr 200px;
    }

    .secnsixbox h1 {
        grid-column: 1 / span 2;
    }

    .sndusmsg {
        margin-top: 16px;
    }

    .tabletab {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    footer div {
        margin: 0 70px;
    }
}